name: Node.js Package

on:
  release:
    types: [created]

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2
      - run: bun install
      - name: generate
        env:
          API_KEY: ${{ secrets.API_KEY }}
        run: bun dev gen https://api.staging.rewards.wlloyalty.net/v1/openapi.json -k "$API_KEY"
      - uses: actions/setup-node@v4
        with:
          node-version: latest
          registry-url: 'https://registry.npmjs.org'
      - run: npm publish --access public ./wll-rewards-sdk.tgz
        working-directory: ./sdk/typescript
